div.ajax-loading__status,
div.ajax-loading__msg,
div.ajax-loading__status div,
div.ajax-loading__overlay {margin: 0;padding:0;border:0;overflow:hidden;}
div.ajax-loading__status{-moz-box-shadow:0 -2px 2px #ccc;-webkit-box-shadow:0 -2px 2px #ccc;visibility:hidden;background:white;border:0 solid #ccc;border-top-width:1px;position: fixed;z-index:65536;height:33px;width:100%;top:-1000px}
div.ajax-loading__msg {color:#333;font-size:14px;font-family: Helvetica, Arial, sans-serif;text-align:center;line-height:30px;visibility:hidden;background:transparent;position: fixed;z-index:65538;height:33px;width:100%;top:-1000px}
div.ajax-loading__status div{background:transparent url(../img/str.png) repeat 0 0;height:100%;width: 0%}

div.ajax-loading__overlay{background:black url() no-repeat 0 0;width:100%;height:100%;position:fixed;left:0;top:0}
div.ajax-loading__overlay.active{background:black url(../img/103.gif) no-repeat 50% 50%}